# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [4]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

## Split the Data into Training and Testing

In [5]:
# Create our features

X = df.drop(columns="loan_status")
X = pd.get_dummies(X)

# Create our target
y = df["loan_status"]

In [6]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [7]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [8]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(X, y)
X_train.shape

(51612, 95)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [9]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [10]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [11]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [12]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
brf_model = BalancedRandomForestClassifier(n_estimators=500, random_state=78)
brf_model.fit(X_train_scaled, y_train)

BalancedRandomForestClassifier(n_estimators=500, random_state=78)

In [13]:
# Calculated the balanced accuracy score
y_pred = brf_model.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.7901902060232646

In [14]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   53,    26],
       [ 1550, 15576]])

In [15]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.03      0.67      0.91      0.06      0.78      0.60        79
   low_risk       1.00      0.91      0.67      0.95      0.78      0.62     17126

avg / total       0.99      0.91      0.67      0.95      0.78      0.62     17205

In [16]:
# List the features sorted in descending order by feature importance
importances = brf_model.feature_importances_

sorted(zip(brf_model.feature_importances_, X.columns), reverse=True)

[(0.06342965429865757, 'total_rec_prncp'),
 (0.05993431935153593, 'last_pymnt_amnt'),
 (0.059348031598413016, 'total_pymnt_inv'),
 (0.05497807675412849, 'total_pymnt'),
 (0.05112518077312541, 'total_rec_int'),
 (0.03004047817339568, 'int_rate'),
 (0.026327370470334552, 'issue_d_Jan-2019'),
 (0.01844087252295972, 'max_bal_bc'),
 (0.0176985867425243, 'mths_since_recent_inq'),
 (0.01756676492327142, 'mo_sin_old_rev_tl_op'),
 (0.01726345578146104, 'annual_inc'),
 (0.017191406512088604, 'dti'),
 (0.016927272932201892, 'total_bc_limit'),
 (0.016720601621406327, 'installment'),
 (0.01581450834086494, 'out_prncp'),
 (0.015575650531049591, 'out_prncp_inv'),
 (0.01503720620749683, 'il_util'),
 (0.0149607446766368, 'revol_bal'),
 (0.014617636342270736, 'mo_sin_old_il_acct'),
 (0.014500418324625824, 'all_util'),
 (0.014178683937932311, 'total_rev_hi_lim'),
 (0.014143762726875906, 'mths_since_rcnt_il'),
 (0.014111545072512468, 'bc_util'),
 (0.014052062126831086, 'tot_hi_cred_lim'),
 (0.0138783887814467, 'bc_open_to_buy'),
 (0.013764571869044818, 'tot_cur_bal'),
 (0.013444852386696095, 'issue_d_Mar-2019'),
 (0.013210819373682991, 'total_bal_il'),
 (0.013187339460907279, 'avg_cur_bal'),
 (0.011799631565602538, 'total_il_high_credit_limit'),
 (0.011233279037025094, 'total_bal_ex_mort'),
 (0.011152500327679364, 'loan_amnt'),
 (0.011007988796383861, 'mths_since_recent_bc'),
 (0.01092873792841527, 'num_il_tl'),
 (0.010857829935347351, 'total_acc'),
 (0.010220241160776968, 'mo_sin_rcnt_tl'),
 (0.009934508821825344, 'num_rev_accts'),
 (0.009869256492134805, 'mo_sin_rcnt_rev_tl_op'),
 (0.009657502461390606, 'num_sats'),
 (0.009445176254239082, 'num_bc_tl'),
 (0.00917882247708766, 'open_acc'),
 (0.009137728762135876, 'num_actv_rev_tl'),
 (0.008761740946835133, 'num_op_rev_tl'),
 (0.008565993343495483, 'inq_last_12m'),
 (0.008213815259160876, 'pct_tl_nvr_dlq'),
 (0.007728125677794233, 'num_rev_tl_bal_gt_0'),
 (0.007669280358505342, 'num_actv_bc_tl'),
 (0.007560041022094119, 'inq_fi'),
 (0.007327135091396847, 'acc_open_past_24mths'),
 (0.007189249319544816, 'total_rec_late_fee'),
 (0.007133563802375812, 'total_cu_tl'),
 (0.007111089454784583, 'open_il_24m'),
 (0.006962724817451465, 'open_act_il'),
 (0.006923815023064569, 'num_bc_sats'),
 (0.006919728174026658, 'inq_last_6mths'),
 (0.006832355654923804, 'percent_bc_gt_75'),
 (0.006727577230940101, 'issue_d_Feb-2019'),
 (0.006616709293580004, 'open_rv_24m'),
 (0.006207458817464473, 'num_tl_op_past_12m'),
 (0.006029881387444659, 'mort_acc'),
 (0.00549889148953114, 'open_acc_6m'),
 (0.004593037808716053, 'open_il_12m'),
 (0.004414283567669332, 'next_pymnt_d_May-2019'),
 (0.004327107293858228, 'next_pymnt_d_Apr-2019'),
 (0.0037515252030667196, 'num_accts_ever_120_pd'),
 (0.003719745725830927, 'tot_coll_amt'),
 (0.0036163166743777495, 'open_rv_12m'),
 (0.0027367554684545646, 'delinq_2yrs'),
 (0.0026230801556836503, 'verification_status_Verified'),
 (0.0022147282697476556, 'verification_status_Source Verified'),
 (0.0019601993405547104, 'verification_status_Not Verified'),
 (0.0017605638774357676, 'home_ownership_OWN'),
 (0.0017482320841361821, 'home_ownership_RENT'),
 (0.001504767806927152, 'pub_rec_bankruptcies'),
 (0.001493887314029883, 'home_ownership_MORTGAGE'),
 (0.0013417880980333009, 'pub_rec'),
 (0.0013343701386964483, 'initial_list_status_f'),
 (0.001314635009425004, 'application_type_Individual'),
 (0.0012041836872486325, 'initial_list_status_w'),
 (0.0010972797849526194, 'application_type_Joint App'),
 (0.0006608588639476556, 'num_tl_90g_dpd_24m'),
 (0.0004342470456104865, 'collections_12_mths_ex_med'),
 (0.00014959525602528168, 'chargeoff_within_12_mths'),
 (0.00012616872673569903, 'home_ownership_ANY'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble Classifier

In [17]:
# Train the Classifier
from imblearn.ensemble import EasyEnsembleClassifier
easy = EasyEnsembleClassifier(n_estimators=500, random_state=78)
easy.fit(X_train_scaled, y_train)

EasyEnsembleClassifier(n_estimators=500, random_state=78)

In [18]:
# Calculated the balanced accuracy score
y_pred = easy.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.9102286552240505

In [19]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   69,    10],
       [  907, 16219]])

In [20]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.87      0.95      0.13      0.91      0.82        79
   low_risk       1.00      0.95      0.87      0.97      0.91      0.83     17126

avg / total       1.00      0.95      0.87      0.97      0.91      0.83     17205

### Final Questions

1. Which model had the best balanced accuracy score?

    Easy Ensemble Classifier with 91% accuracy score

2. Which model had the best recall score?

    Easy Ensemble Classifier 

3. Which model had the best geometric mean score?

    Easy Ensemble Classifier 

4. What are the top three features?

    total_rec_prncp, total_pymnt_amnt, last_pymnt_inv